/* You can add global styles to this file, and also import other style files */

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  position: relative;
}

html,
body {
  color: #282A36;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 900;
  margin: 0;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

/*img {
  max-width: 300px;
}*/

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.align-middle {
  vertical-align: middle;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1190px;
  margin: auto;
  padding: 0 20px;
}

.font-pink {
  color: #FF6AC1;
}

.font-light {
  color: #F1F1F0;
}

.fs-xs {
  font-size: 1.4rem;
}

.fs-sm {
  font-size: 1.8rem;
}

.fs-md {
  font-size: 2.4rem;
}

.fs-lg {
  font-size: 2.8rem;
}

.text-center {
  text-align: center;
}

.feather-arrow-right {
  vertical-align: middle;
}

.btn {
  background-color: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-base {
  border-radius: 4px;
  text-transform: uppercase;
  padding: 1.1rem;
  font-size: 1.4rem;
}

.btn-pink {
  background: #FF6AC1;
  color: #F1F1F0;
  transition: background-color 0.3s ease;
}

.btn-pink:hover,
.btn-pink:active {
  background-color: #FF43BD;
}


.full {
  width: 100%;
}

.btn-icon {
  padding: 0;
}

.counter {
  font-size: 2rem;
  color: #4A4A4A;
  margin-left: 4px;
  line-height: 1;
}

/*Forms*/

.form-welcome {
  padding: 3rem;
  background-image: linear-gradient(-134deg, #3023AE 0%, #C96DD8 100%);
}

.input-forms {
  border: 1px solid #E6E9EE;
  padding: 1rem;
  font-size: 1.4rem;
  box-sizing: border-box;
  outline: none;
}

.form-basic-container {
  height: calc(100vh - 132px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.form-basic {
  width: 100%;
}

.form-basic-action {
  text-align: right;
  padding-top: 2rem;
  padding-right: 2rem;
}

.form-basic label, input {
  display: block;
}

.form-basic .form-title {
  margin-bottom: 5rem;
}

.form-basic label {
  margin-bottom: 1.6rem;
}

.form-basic .label-file {
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer;
}

.form-basic .form-group {
  margin-bottom: 3rem;
}

/*Custom input file*/
.input-file-holder {
  display: flex;
  align-items: center;
}

.custom-file-input:active,
.custom-file-input:focus {
  outline: none;
}

.custom-file-input::-webkit-file-upload-button {
  display: none;
}

.custom-file-input::before {
  content: 'Select an image file';
  display: inline-block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 1.4rem;
}

.form-basic .custom-file-input {
  display: inline-block;
}

.input-file-image {
  display: block;
  margin-right: 5px;
}
/*.custom-file-input:hover::before {
  border-color: black;
}*/
/*.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */

.feather-arrow-right {
  vertical-align: middle;
}

/*Bites*/

.bites-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.bites-list:after {
  content: "";
  flex: auto;
}

.bites-item {
  margin-bottom: 4rem;
  width: 100%;
  max-width: 260px;
}

.bites-image {
  /*To change*/
  /*width: 260px;
  height: 226px;*/
  background-color: pink;
  display: block;
  max-width: 100%;
  width: 100%;
  border-radius: 4px;
}

.bites-image.has-shadow {
  opacity: 0.8;
  box-shadow: 0 0 20px 0 #DDDDDD;
}

.bites-counters svg {
  display: block;
}

/*Whitespacing*/

.mb1 {
  margin-bottom: 1rem;
}

.mr1 {
  margin-right: 1rem;
}

@media screen and (min-width:768px){
  .form-basic-holder {
    width: 50%;
  }

  .form-welcome {
    width: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-container {
    height: 100vh;
    display: flex;
  }

  .bites-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .bites-item {
    margin-bottom: 4rem;
    width: auto;
  }
  .bites-image {
    width: 260px;
    /*height: 226px;*/
  }

}
