/* You can add global styles to this file, and also import other style files */

img {
  max-width: 300px;
}

body {
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  background-color: none;
  border: none;
  /*outline: none;*/
  cursor: pointer;
}

.btn-icon {
  padding: 0;
}
