/* You can add global styles to this file, and also import other style files */

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  position: relative;
  box-sizing: border-box;
}

html,
body {
  color: #282A36;
  height: 100%;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 900;
  margin: 0;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.align-middle {
  vertical-align: middle;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.flexbox {
  display: flex;
}

.container {
  max-width: 1190px;
  margin: auto;
  padding: 0 20px;
}

.font-pink {
  color: #FF6AC1;
}

.font-light {
  color: #F1F1F0;
}

.fs-xs {
  font-size: 1.4rem;
}

.fs-sm {
  font-size: 1.8rem;
}

.fs-md {
  font-size: 2.4rem;
}

.fs-lg {
  font-size: 2.8rem;
}

.text-center {
  text-align: center;
}

.feather-arrow-right {
  vertical-align: middle;
}

.btn {
  background-color: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-base {
  border-radius: 4px;
  text-transform: uppercase;
  padding: 1.2rem;
  font-size: 1.4rem;
}

.btn-pink {
  background: #FF6AC1;
  color: #F1F1F0;
  transition: background-color 0.3s ease;
}

.btn-pink:hover,
.btn-pink:active {
  background-color: #FF43BD;
}

.full {
  width: 100%;
}

.btn-icon {
  padding: 0;
}

.counter {
  font-size: 2rem;
  color: #4A4A4A;
  margin-left: 4px;
  line-height: 1;
}

/*Forms*/

.form-welcome {
  padding: 2rem;
  background-image: linear-gradient(-134deg, #3023AE 0%, #C96DD8 100%);
}

.input-forms {
  border: 1px solid #E6E9EE;
  padding: 1.1rem;
  font-size: 1.4rem;
  outline: none;
  border-radius: 4px;
}

.form-basic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 460px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.form-basic-holder {
  padding-top: 2rem;
}

.form-basic {
  width: 100%;
}

.form-basic-action {
  text-align: right;
  padding-right: 2rem;
}

.form-basic label, input {
  display: block;
}

.form-basic .form-title {
  margin-bottom: 5rem;
}

.form-basic label {
  margin-bottom: 1.6rem;
}

.form-basic .label-file {
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer;
}

.form-basic .form-group {
  margin-bottom: 3rem;
}

/*Custom input file*/
.input-file-holder {
  display: flex;
  align-items: center;
}

.custom-file-input:active,
.custom-file-input:focus {
  outline: none;
}

.custom-file-input::-webkit-file-upload-button {
  display: none;
}

.custom-file-input::before {
  content: 'Select an image file';
  display: inline-block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 1.4rem;
}

.form-basic .custom-file-input {
  display: inline-block;
}

.input-file-image {
  display: block;
  margin-right: 5px;
}

.cross-mobile-link {
  display: block;
  text-align: right;
}

.cross-desktop-link {
  display: none;
}

.feather-arrow-right {
  vertical-align: middle;
}

/*Bites*/

.bites-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10rem;
}

.bites-item {
  margin-bottom: 4rem;
  width: 100%;
  max-width: 500px;
}

.bites-image {
  background-color: pink;
  display: block;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.bites-image.has-shadow {
  opacity: 0.8;
  box-shadow: 0 0 20px 0 #DDDDDD;
}

.bites-counters svg {
  display: block;
}

/*Whitespacing*/

.mb1 {
  margin-bottom: 1rem;
}

.mr1 {
  margin-right: 1rem;
}

.mr2 {
  margin-right: 2rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb5 {
  margin-bottom: 5rem;
}

.avatar {
  display: block;
  border-radius: 50%;
}

.avatar-sm {
  width: 8rem;
  height: 8rem;
}

.avatar-lg {
  width: 16rem;
  height: 16rem;
}

.avatar-has-shadow {
  box-shadow: 0 2px 4px 0 #110B3F;
}

@media screen and (min-width:768px){
  .form-basic-holder {
    width: 50%;
  }

  .form-basic-container {
    height: calc(100vh - 132px);
  }

  .media {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cross-mobile-link {
    display: none;
  }

  .cross-desktop-link {
    display: block;
  }

  .form-welcome {
    width: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-container {
    height: 100vh;
    display: flex;
  }

  .bites-list {
    flex-direction: row;
    margin-right: -3%;
    padding-bottom: 3rem;
  }

  .bites-item {
    margin-bottom: 4rem;
    width: auto;
    margin-right: 3%;
  }
  .bites-image {
    width: 260px;
    margin-bottom: 1rem;
    /*height: 226px;*/
  }

}
