<app-header></app-header>

<div *ngIf="card" class="container container-card">
  <div class="media mb5">
    <div class="media-image-holder">
      <img src="{{card.photo}}" alt=" " class="media-image full">
    </div>
    <div class="media-body">
      <div class="mb3">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link mr2"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>
        <a href="#" class="fs-md font-pink url">{{ card.url }}</a>
      </div>

      <div class="vertical-align mb3">
        <div class="vertical-align mr2">
          <button class="btn btn-icon" (click)="addLike(card._id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart cuore mr1"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
          </button>
          <div ng-repeat="count in newLikes">
            <span>
              <span class="likes-number" id="like">
                {{card.likes}}
              </span> likes
            </span>
          </div>
        </div>
        <div class="vertical-align">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#4A4A4A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square mr1"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
          <span> {{ card.comments.length }}</span>
        </div>
      </div>
      <div class="vertical-align mb5">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-paperclip mr1"><path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"></path></svg>
        <p>{{ card.tags.join(', ') }}</p>
      </div>

      <div *ngIf="user">
        <div class="vertical-align">
          <div class="mr2">
            <a [routerLink]="['edit']" class="font-pink vertical-align">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 mr1"><polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon></svg>
              Edit
            </a>
          </div>
          <button (click)="deleteCard(card._id)" class="btn btn-icon vertical-align fs-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 mr1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
          Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-inner">
    <div class="card-content">
      <h2 class="mb2"> {{ card.title }}</h2>
      <p class="fs-lg mb5">{{ card.description }}</p>
    </div>

    <ul>
      <li *ngFor="let comment of comentarios" class="fs-md flexbox mb5">
        <div class="mr2 mb4">
          <img src="{{comment.author.photo}}" alt=" " class="avatar avatar-sm ">
        </div>
        <div>
          <h3>{{ comment.author.name}}</h3>
          <p>{{ comment.text }}</p>
        </div>
      </li>
    </ul>
    <ng-template #elseBlock>
      <h3 class="mb3">You need to <a [routerLink]="['/login'] "class="font-pink">log in</a> to leave a comment.</h3>
    </ng-template>
    <div *ngIf="user; else elseBlock">
      <h3 class="mb2">Leave a comment.</h3>
      <textarea name="comment" id="" cols="30" rows="10" [(ngModel)]="comment.body" placeholder="Fill your comment" class="full input-forms"></textarea>
      <button (click)="saveComment(card._id, comment.body)" class="btn btn-base btn-pink btn-save full">Save</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
