.footer {
  background-color: #3123AE;
  padding: 3rem 0;
  font-size: 1.8rem;
  text-align: center;
}

.footer-terms {
  margin-bottom: 2rem;
}

.footer-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-terms li {
  margin-bottom: 1rem;
}

.footer-terms a {
  color: #F1F1F0;
  text-decoration: none;
}

.footer-terms a:hover {
  text-decoration: underline;
}

.sign {
  color: #56C7FF;
}

@media screen and (min-width:768px){
  .footer {
    text-align: left;
    padding: 7rem 0;
  }

  .footer-terms {
    display: flex;
  }

  .footer-terms li {
    margin-right: 3.6rem;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px){
  .footer-holder {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-terms {
    margin-bottom: 0;
  }
}
