<div *ngIf="user; else elseBlock">
  Soy {{ user.name}}
  <ul class="cards-list">
    <li *ngFor="let card of cards">
      <img src="http://localhost:3000/{{card.photo}}" alt="">
      <h1> {{ card.title }}</h1>
      <p>{{ card.description }}</p>
      <a [routerLink]="['/card', card._id]"> View Details </a>
    </li>
  </ul>
</div>

<ng-template #elseBlock>
  <div class="container">
    <div class="home-intro">
      <h1>Daily inspiration collected from daily ui archive and beyond. Hand picked, easily.</h1>
      <a href="" class="font-pink">Join us
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="4" y1="12" x2="20" y2="12"></line><polyline points="14 6 20 12 14 18"></polyline></svg>
      </a>
    </div>
  </div>
  <div class="home-cards">
    <div class="container">
      <h1 class="home-cards-title">
        <span class="font-pink">UI</span><span class="font-light">Bites is a place to<br> discover and explore </span>
      </h1>
      <ul class="home-bites-list">
        <li class="home-bites-item">
          <img src="http://localhost:3000/images/bite1.png" alt="" class="home-bites">
        </li>
        <li class="home-bites-item">
          <img src="http://localhost:3000/images/bite2.png" alt="" class="home-bites">
        </li>
        <li class="home-bites-item">
          <img src="http://localhost:3000/images/bite3.png" alt="" class="home-bites">
        </li>
        <li class="home-bites-item">
          <img src="http://localhost:3000/images/bite4.png" alt="" class="home-bites">
        </li>
        <li class="home-bites-item">
          <img src="http://localhost:3000/images/bite5.png" alt="" class="home-bites">
        </li>
        <li class="home-bites-item">
          <img src="http://localhost:3000/images/bite6.png" alt="" class="home-bites">
        </li>
        <li class="home-bites-item">
          <img src="http://localhost:3000/images/bite7.png" alt="" class="home-bites">
        </li>
        <li class="home-bites-item">
          <img src="http://localhost:3000/images/bite8.png" alt="" class="home-bites">
        </li>
      </ul>
    </div>
  </div>

  <div class="home-extension">
    <div class="container">
      <div class="media">
        <div>
          <img src="http://localhost:3000/images/home-extension.png" alt="" class="home-extension">
        </div>
        <div class="media-body">
          <h2>Start collecting.</h2>
          <p>
            <span class="extension-logo"><span class="font-pink">UI</span>Bites</span> is a fast, no-nonsense bookmarking site for people who value beauty and speed. There are no ads and no third-party tracking. You pay a few bucks a year, and that's
            it.
          </p>
          <p>You can bookmark from any browser, using our browser extension.</p>
          <a href="#" class="font-pink">Install extension
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="4" y1="12" x2="20" y2="12"></line><polyline points="14 6 20 12 14 18"></polyline></svg>
        </a>
        </div>
      </div>
    </div>
  </div>
</ng-template>
