h1 {
  color: #3123AE;
  margin-bottom: 6rem;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
}

.home-intro {
  max-width: 850px;
  font-size: 4.8rem;
  padding: 8rem 0;
  line-height: 5.6rem;
}

.home-intro a {
  text-decoration: none;
  font-weight: 900;
}

.home-intro a:hover {
  text-decoration: underline;
}

.home-cards {
  background-image: url(http://localhost:3000/images/background.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.home-cards-title {
  margin-bottom: 6rem;
  padding-top: 55rem;
}

.home-extension {
  padding: 3rem 0;
  line-height: 1.2;
}

.media {
  font-size: 2.4rem;
}

.media-body {
  max-width: 550px;
}

.media-body h2,
.media-body p {
  margin-bottom: 4rem;
}

.extension-logo {
  font-weight: 900;
}

.home-extension-image {
  display: block;
  /*height: 436px;*/
  max-width: 100%;
  margin: 0 auto 2rem;
}

/*User home*/

.container-profile {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.search-card-holder {
  flex: 1;
  position: relative;
  max-width: 600px;
  margin: auto;
  margin-bottom: 8rem;
}

.search-card {
  border: 0;
  border-bottom: 1px solid #BD0FE1;
  padding: 1rem 0;
  width: 100%;
  color: #BD0FE1;
  outline: none;
}

.feather-search {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

::-webkit-input-placeholder {
   color: #BD0FE1;
}

:-moz-placeholder { /* Firefox 18- */
   color: #BD0FE1;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #BD0FE1;
}

:-ms-input-placeholder {
   color: #BD0FE1;
}

@media screen and (min-width:768px){
  .home-cards-title {
    margin-bottom: 8rem;
    padding-top: 28rem;
  }

  .media {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-extension-image {
    margin-bottom: 0;
  }
}
