<h1>Edit Card</h1>

<form *ngIf="card">
  <div>
    <label>Title</label>
    <input type="text" [(ngModel)]="card.title" name="title" />
  </div>
  <div>
    <label>Description</label>
    <input type="text" [(ngModel)]="card.description" name="description" />
  </div>
  <div>
    <label>Url</label>
    <input type="text" [(ngModel)]="card.url" name="url" />
  </div>
  <div>
    <label for="">Tags</label>
    <input type="text" [(ngModel)]="card.tags" name="tags">
  </div>
  <button (click)="editCard()">Save</button>
</form>
