<h1>New Card</h1>
<form>
  <div>
    <label>Title</label>
    <input type="text" [(ngModel)]="newCard.title" name="title" />
  </div>
  <div>
    <label>Description</label>
    <input type="text" [(ngModel)]="newCard.description" name="description" />
  </div>
  <div>
    <label>url</label>
    <input type="text" [(ngModel)]="newCard.url" name="url" />
  </div>
  <div>
    <label>Image</label>
    <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
  </div>
  <button (click)="submit()">Upload</button>
  <!-- <button (click)="signup(username,password)"> signup </button> -->
</form>
