<h1>New Card</h1>
<form>
  <div>
    <label>Title</label>
    <input type="text" [(ngModel)]="title" name="title" />
  </div>
  <div>
    <label>Description</label>
    <input type="text" [(ngModel)]="description" name="description" />
  </div>
  <div>
    <label>Tag</label>
    <input type="text" [(ngModel)]="tag" name="tag" />
  </div>
  <div>
    <label>Image</label>
    <input type="file" [(ngModel)]="image" name="image" />
  </div>
  <button>Upload</button>
  <!-- <button (click)="signup(username,password)"> signup </button> -->
</form>
