.container-profile {
  padding-top: 9rem;
  padding-bottom: 2rem;
}

.avatar-lg {
  margin-bottom: 2rem;
}

.user-bio {
  margin-bottom: 8rem;
}

.avatar {
  margin-left: auto;
  margin-right: auto;
}
