<app-header></app-header>

<div class="container container-profile">
  <div *ngIf="user" class="user-info">
    <div class="text-center">
      <img src="{{ user.photo }}" alt="" class="avatar avatar-lg avatar-has-shadow">
      <h2>{{ user.name }}</h2>
    </div>
    <p class="fs-lg user-bio">{{ user.bio}}</p>
  </div>
  <ul class="bites-list bites-list-grid">
    <li *ngFor="let card of cards | filter:'title':pattern;" class="bites-item">

      <a [routerLink]="['/card', card._id]" class="bites-image-holder">
        <img src="{{card.photo}}" alt="" class="bites-image has-shadow">
      </a>
      <ul class="vertical-align bites-counters">
        <li class="vertical-align mr1">
          <button class="btn btn-icon" (click)="addLike(card._id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#4A4A4A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart cuore"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
          </button>
          <span class="counter">{{ card.likes }}</span>
        </li>
        <li class="vertical-align">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#4A4A4A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
          </div>
          <span class="counter">{{ card.comments.length }}</span>
        </li>
      </ul>
    </li>
  </ul>
</div>

<app-footer></app-footer>
