<div class="form-container">
  <div class="form-welcome text-center">
    <h3 class="uppercase font-light">Welcome to <span class="font-pink">UI</span><span class="font-light">Bites</span></h3>
    <p class="font-light fs-md">The UI’s catalog of ideas</p>
  </div>
  <div class="form-basic-holder">
    <div class="form-basic-action">
      <span class="uppercase fs-xs align-middle ">Don't have an account?
        <a class="font-pink" [routerLink]="['/signup']"> sign up
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right align-middle "><line x1="4" y1="12" x2="20" y2="12"></line><polyline points="14 6 20 12 14 18">
          </polyline></svg>
        </a>
      </span>
    </div>
    <div class="form-basic-container">
      <form action="" class="form-basic">

        <h3 class="uppercase form-title">Sign in to <span class="font-pink">UI</span>Bites</h3>
        <div class="form-group">
          <label class="uppercase fs-xs mb2">Email address</label>
          <input type="text" [(ngModel)]="formInfo.email" class="input-forms full" name="email" placeholder="janedoe@example.com" />
        </div>
        <div class="form-group">
          <label class="uppercase fs-xs"> Password </label>
          <input type="password" [(ngModel)]="formInfo.password" name="password" class="input-forms full" placeholder="Enter your password" />
        </div>
        <button type="button" (click)="login()" class="btn btn-base btn-pink full"> login </button>
      </form>
    </div>
  </div>
</div>
