.header {
  background-color: #3123AE;
  padding: 2rem 0;
}

.header a {
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-upload-card {
  cursor: pointer;
}

.avatar {
  width: 50px;
  height: 50px;
}

.navbar-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout {
  text-decoration: none;
}

.avatar,
.btn-upload-card {
  margin-right: 1rem;
}

.logo:hover,
.logo:active,
.logo:focus {
  text-decoration: none;
}

@media screen and (min-width:768px){
  .navbar-logo {
    flex: 1;
  }

  .avatar {
    width: 80px;
    height: 80px;
  }

  .avatar,
  .btn-upload-card {
    margin-right: 4rem;
  }
}
