.header {
  background-color: #3123AE;
  padding: 2rem 0;
}

.header a {
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  flex: 1;
}

.navbar-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 3;
}

.btn-upload-card {
  cursor: pointer;
}

.logout {
  text-decoration: none;
}

@media screen and (min-width:768px){
  .avatar {
    margin-right: 4rem;
  }

  .search-card-holder {
    margin-right: 2rem;
  }

  .btn-upload-card {
    margin-right: 4rem;
  }
}
