<header class="header">
  <nav>
    <ul class="navbar container">
      <li class="navbar-logo">
        <h2>
          <a [routerLink]="['']" class="logo">
            <span class="font-pink">UI</span><span class="font-light">Bites</span>
          </a>
        </h2>
      </li>
      <li *ngIf="!authService.user">
        <a [routerLink]="['/login']" class="fs-sm font-pink">Sign in
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="4" y1="12" x2="20" y2="12"></line><polyline points="14 6 20 12 14 18">
          </polyline></svg>
        </a>
      </li>
      <li *ngIf="authService.user" class="navbar-user">
        <a class="btn-upload-card" [routerLink]="['/card', 'new']">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#F1F1F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload-cloud"><polyline points="16 16 12 12 8 16"></polyline><line x1="12" y1="12" x2="12" y2="21">
          </line><path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path><polyline points="16 16 12 12 8 16"></polyline></svg>
        </a>
        <a>
          <img src="http://res.cloudinary.com/dmhb6ozxo/image/upload/q_50/v1513187718/profile_g0rcjz.jpg" alt=" " class="avatar avatar-sm ">
        </a>
        <a [routerLink]="[ ''] " (click)="logout() " class="logout fs-sm font-pink ">Logout
          <svg xmlns="http://www.w3.org/2000/svg " width="20 " height="20 " viewBox="0 0 24 24 " fill="none " stroke="currentColor " stroke-width="2 " stroke-linecap="round " stroke-linejoin="round " class="feather feather-arrow-right "><line x1="4
          " y1="12 " x2="20 " y2="12 "></line><polyline points="14 6 20 12 14 18 ">
          </polyline></svg>
        </a>
      </li>
    </ul>
  </nav>
</header>
